/* --------------- Importing fonts --------------- */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
  font-size: 15px;
  scroll-behavior: smooth;
  font-family: "inria sans", Verdana, Geneva, Tahoma, sans-serif;
  /* ved å sette font-family under html så vil denne fonten komme på alt av skrift */
}

body {
  min-height: 100vh;
  margin: 0px;
}


/* --------------- Header & Logo --------------- */
/* Header */
header {
    position: relative;
    display: flex;
    background: #fff;
    color: #0A3641;
    padding: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    justify-content: space-between;
    flex-wrap: wrap;
  }

.nav .links {
    position: absolute;
    top: 10px;
    left: 200px;
}

.nav .links a {
    display: block;
}

/* Logo */
.logo {
    max-width: 125px;
    margin-left: 25px;
    margin-top: 0px;
    flex: 1 0 auto; /*hvilken funksjon har denne?*/
  }


/* active indicator */
header .nav .links ul li .active {
    background-color: #E0DDD9;
    padding: 8px 20px;
    text-decoration: underline;
  }


/* gives underline when hover over */
header .nav .links ul li a:hover{
    text-decoration: underline;
  }


/* Home Men Women About Contact*/
header .nav .links ul li {
  display: inline-block;
  margin: auto 25px;
}

header .nav .links ul li a{
    color: #0A3641;
    text-decoration: none;
  }


/* right icons*/
nav ul li {
    display: inline-block;
    margin: auto 10px;
    padding: 5px;
}
  

/* Hamburger menu*/
nav #menu_checkbox {
    display: none;
}

#menu_checkbox:checked ~ nav {
    display: block;
}


/* --------------- Main--------------- */ 
section {
    margin-left: 60px;
    display: grid;
    min-height: 130px;
    color: #393D40;
}

/* --------------- headings --------------- */

.main_page h1 {
    font-size: 3rem;
    color: #0A3641;
    margin: auto;
    padding: 20px;
    text-shadow: 2px 4px 4px #C1BEBA;
}

.main_page h2 {
    font-size: 2.8rem;
    margin-bottom: 30px;
    font-weight: lighter;
}

.main_page h3 {
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 50px;
}

.about h1 {
    font-size: 2.2rem;
    color: #393D40;
    font-weight: lighter;
    text-transform: capitalize;
    text-align: left;
}

.about h2,
.shopping_cart h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.co_success h1 {
    font-size: 2.6rem;
    text-transform: uppercase;
}

.co_success p {
    font-size: 1.8rem;
    font-weight: lighter;
    font-style: italic;
    margin-top: 0px;
}

.co_success h2 {
    font-size: 2.2rem;
    text-transform: capitalize;
    margin: 10px auto 40px;
}

.shopping_cart h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
}

/* Men */
.intro-men {
    background: url(../images/BackgroundPictureMen.jpg) center no-repeat;
    background-size: cover;
}

.intro-men,
.intro-women {
    min-height: 250px; 
    line-height: 1.5;
    margin-left: 0px;
}

.productpage section h1,
.productpage section h2 {
    color: #fff;
    font-size: 1.6rem;
    text-align: left;
    margin: 25px;
    padding: 5px;
}

.featured_products {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 25px;
    margin: 25px;
}

.product {
    background-color: #F2F2F0;
    border-radius: 5px;
}

.featured_products .product .cta {
    margin-left: 25px;
}

.featured_products .product a {
    color: #fff;
    text-decoration: none;
}

.product:hover {
    border: 2px solid black;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.product img {
    margin: 10px 20px 0px 90px;
    width: 50%;
    height: 58%;
}

.product h3,
.product p {
    margin: 25px;
}


/* women */
.intro-women {
    background: url(../images/BackgroundPictureWomen.jpg) center no-repeat;
    background-size: cover;
}


/* About */
.logo_about {
    display: block;
    max-width: 200px;
    margin: auto;
}

.about {
    background-color: rgba(242, 242, 240, 70%);
    color: #393D40;
    padding: 20px;
    margin: 10px 80px;  
    font-size: 18px;
}

.infotext {
    line-height: 1.5;
}

.info {
    text-transform: uppercase;
    text-decoration: underline;
}

.information {
    display: inline-flex;
    gap: 10px;
    text-align: center;
    font-weight: lighter;
}

/* Specific Product*/
.flex-container,
.flex-container2 {
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    background-color: rgba(242, 242, 240, 80%);
    color: #393D40;
    margin: 100px; /* add margin */
}

.flex-child,
.flex-child2 {
    flex: 1;
    align-self: stretch; /* make elements the same height */
    padding: 50px;
    margin-left: 40px;
}  

.flex-child:first-child {
    margin-right: 20px;
}

.product_images {
    width: 90%;
    height: 50%;
}

.section1 {
    justify-content: center; /* center horizontally */
    align-items: center;
    text-align: left; /* center every item */
}

.sp {
    line-height: 1.4;
}

.section1 ul li {
    display: inline-block;
}

.size {
    color: #D81D1D;
}

/* Contact */
.contact_h1,
.order_h1 {
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: none;
    color: #393D40;
    font-weight: lighter;
}

.contact_h2 {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2rem;
}

.contact_p {
    text-align: center;
    font-size: 1rem;
}

label {
    margin: 10px 5px 0px 60px;
}

input, 
select,
textarea {
    border-radius: 3px;
    border: 0px;
    margin: 10px 60px;
    padding: 10px;
}

.contact_form,
.order_form {
    display: flex;
    flex-direction: column;
    background-color: rgba(242, 242, 240, 70%);
    text-align: left;
    margin: 10px auto;
    max-width: 1000px;
}

.contact_input {
    display: flex;
    flex-direction: column;
}

/* Checkout-shopping cart */

.featured_products_sc {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 25px;
    margin: 25px;
}

.sc_alternatives {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    background-color: #F2F2F0;
    width: 1000px;
}



/* Checkout success */

.co_success {
    text-align: center;
    background-color: rgba(242, 242, 240, 70%);
    color: #393D40;
    padding: 20px;
    margin: 10px 80px;  
    font-size: 18px;
}

.logo_co {
    display: block;
    max-width: 400px;
    margin: auto;
}

.co_form {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: #7E878E;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    margin: auto;
    gap: 0px;
}

.form_input_co {
    height: 40%;
    min-width: 200px;
    margin: 5px 15px;
}

/* Order */

.order {
    text-align: left;
    margin-left: 60px;
}

/* background for index, about, contact, checkout, checkoutsuccess */
.background {  /* index, about, contact har fått samme main class siden det er samme background */
    background: url("../images/BackgroundPictureMain.jpg") left no-repeat;
    background-size: cover;
    min-height: 100vh;
}


/* background for specificproduct*/
.bg-product {
    background-image: url(../images/BackgroundPictureSpecificProduct.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: top;
    background-position-y: bottom;
    max-height: 100vh;
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
}




/* Buttons */
.cta { /* alle buttons utenom contactform, checkoutsuccess */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0A3641;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    width: 180px;
    margin: 5px;
  }

  .cta:hover { /* alle buttons utenom contactform, checkoutsuccess*/
       background-color: #154754;
  }

  .cta a { /* alle buttons utenom contactform, checkoutsuccess */
    color: #fff;
    text-decoration: none;
  }

  .cta-submit, .cta-co_submit { /* buttons for contactform */
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #0A3641;
    color:#fff;
    margin: 10px auto 30px;
    padding: 12px 100px;
    border-radius: 5px;
    cursor: pointer;
}

.cta-submit:hover, .cta-co_submit:hover { /* buttons for contactform */
    background-color: #154754;
}

.cta-co_success,
.cta-sc1,
.cta-sc2 { /* buttons for checkoutsuccess */
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #D81D1D;
    color:#fff;
    margin: 60px auto 40px;
    padding: 15px 150px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.cta-co_success:hover,
.cta-sc1:hover { /* buttons for checkoutsuccess, shopping cart */
    background-color: #A00C0C;
}

.cta-sc2:hover { /* shopping cart */
    background-color: #31933B;

}

.cta-co_submit { /* buttons for checkoutsuccess */
    padding: 10px 40px;
    margin-top: 3px;
}

.cta-sc1,
.cta-sc2 {
    padding: 15px 150px;
    margin: 10px;
}

.cta-sc2 {
    background-color: #59CA64;
}

.cta_o button {
    margin: 40px auto;
}

.cta_sp {
    margin-left: 60px;
}


/* --------------- Footer--------------- */
/* Footer */
footer {
    display: flex;
    justify-content: space-between;
}

footer p {
    color: #000000;
    margin: 10px;
    letter-spacing: 1px;
}

/* ------------- media queries ------------- */

@media (max-width: 799px){
    .information {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .main_page h1 {
        font-size: 1.4rem;
        text-align: center;
        margin: 10px 0px;
    }

    .main_page h2 {
        font-size: 1.6rem;
        text-align: center;
        margin: 10px 0px;
    }

    .main_page h3 {
        color: #F2F2F0;
        font-size: 1.4rem;
        text-shadow: 2px 4px 4px #393D40;
        text-align: center;
    }
    .featured_products, 
    .featured_products_sc {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        text-align: center;
    }

    .co_form,
    .flex-container,
    .flex-container2 {
        flex-direction: column;
    }

    .nav .links a {
        display: block;
        position: static;
    }


 
}


@media (min-width: 800px) {

    .hamburger_icon {
        display: none;
    }
 

}